<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Signup</h1>

    <!-- show any messages that come back with authentication
        <div class="alert alert-danger">Mensaje de alerta</div>
        -->
    <!-- LOGIN FORM -->
    <form method="post">
        <fieldset>
            {{vm.message}}
        </fieldset>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="password">
        </div>
        <input type="submit" value="Signup" class="btn btn-warning btn-lg" ng-click="vm.signup()">
    </form>

    <hr>

    <p>Already have an account? <a href="#login">Login</a></p>
    <p>Or go <a href="#auth">home</a>.</p>

</div>

</div>